@charset "utf-8";

/* login */
.login-wrap{background: linear-gradient(180deg, #FFF 0%, #ECECF2 70.31%, #F3F3FA 100%);min-height:100vh;display:flex;justify-content:center;align-items:center;min-width:1013px;}
.login-area{box-shadow: 0px 0px 10px 1px #E1E1EB;border:1px solid #dfdfdf;/*width:953px;*/display:flex;background-color:#fff;border-radius:10px;overflow:hidden;}

.login-area .form_area{padding:50px 65px 50px 75px;display:flex;align-items:center;flex-grow:1;}
.login-area .form_area h1{text-align:center;}
.login-area .form_area h2{font-size:34px;font-weight:700;color:#000;line-height:48px;text-align:center;margin-bottom:20px;padding-bottom:10px;border-bottom:1px solid #D1D1D1;}
.login-area .form_list{margin-top:20px;min-width:350px;}
.login-area h1 + .form_list{margin-top:40px;}
.login-area .form_list > li{margin-top:10px;position: relative;}
.login-area .form_list > li[class*=user_]::before{content:'';display:block;width:24px;height:24px;position: absolute;left:10px;top:8px;background-repeat:no-repeat;background-position:50% 50%;}
.login-area .form_list > li.user_id::before{background-image:url(../img/icon/id.svg);}
.login-area .form_list > li.user_pw::before{background-image:url(../img/icon/pw.svg);}
.login-area .form_list > li.user_pw_check::before{background-image:url(../img/icon/pw_check.svg);}
.login-area .form_list > li.user_phone::before{background-image:url(../img/icon/phone.svg);}
.login-area .form_list > li.user_cert::before{background-image:url(../img/icon/cert.svg);}
.login-area .form_list > li.item{display:flex;justify-content:space-between;align-items:center;}
.login-area .form_list > li .btn-text{font-size:15px;line-height:18px;color:#0e0f0e;}
.login-area .form_list > li .input-base{width:100%;padding:11px 10px 11px 44px;border-radius:4px;}
.login-area .form_list > li .time{font-size:16px;font-weight:700;color:#EC1A1A;display:inline-block;}
.login-area .form_list > li .info{font-size:13px;color:#3f4a53;padding-left:17px;display:block;line-height:18px;position: relative;margin-top:4px;margin-left:15px; }
.login-area .form_list > li .info:before{content:'';display:block;width:13px;height:13px;position:absolute;left:0;top:2.5px;background:url(../img/icon/info.svg) 0 0 no-repeat;background-size:auto 13px;}
.login-area .form_list > li .info.no-icon{padding-left:0;}
.login-area .form_list > li .info.no-icon:before{display:none;}
.login-area .form_list > li .info.error{color:#EC1A1A;}
.login-area .form_list > li .info.error:before{background:url(../img/icon/error.svg) 0 0 no-repeat;background-size:auto 13px;}
.login-area .form_list > li .s-tip{margin-top:4px;margin-left:15px;}

.info-valid{font-size:0;margin-top:8px;}
.info-valid li{display:inline-block;font-size:13px;font-weight:500;line-height:18px;color:#3f4a53;margin-right:6px;}
.info-valid li:last-of-type{margin-right:0;}
.info-valid li.on{color:#605DEC;}

.login-area .info_list{}
.login-area .info_list li{font-size:18px;line-height:24px;color:#000;text-align:center;}
.login-area .info_list li:first-of-type{margin-top:0;}
.login-area .info_list li strong{color:#EC1A1A;font-weight:700;}

.info-box{padding:15px;border:1px solid #d1d1d1;margin-top:17px;border-radius:6px; }
.info-box .tit{font-size:13px;font-weight:600;line-height:18px;color:#3F4A53;padding-left:17px;position: relative;}
.info-box .tit::before{content:'';display:block;width:13px;height:13px;background:url(../img/icon/tip4.svg) 50% 50% no-repeat;background-size:cover;position:absolute;left:0;top:2px;}
.info-box ul{margin-top:4px;padding-left:10px;}
.info-box li{font-size:12px;color:#8b8f93;margin-top:4px;line-height:14px;padding-left:7px;position: relative;}
.info-box li::before{content:'';display:inline-block;width:3px;height:3px;background-color:#3F4A53;position: absolute;left:0;top:6px;}
.info-box li:first-of-type{margin-top:0;}

.info-box.lg{padding:20px 30px;margin-top:25px;}
.info-box.lg .tit{font-size:15px;font-weight:700;}
.info-box.lg ul{margin-top:14px;padding-left:15px;}
.info-box.lg li{font-size:14px;line-height:16px;margin-top:8px;}

/* main */
.res-list{display:flex;gap:25px;flex-wrap:wrap;}
.res-list > li{padding:20px 30px;background-color:#fff;border-radius:6px;box-shadow: 0px 6px 10px 0px #EAE7F6;}
.res-list > li.cash-refund,
.res-list > li.coupon-refund,
.res-list > li.answer,
.res-list > li.member{width:calc(20% - 19px);}
.res-list > li.cash-charge,
.res-list > li.sales,
.res-list > li.visitor,
.res-list > li.join{width:calc(30% - 19px);}
.res-list > li .tit{font-size:18px;color:#6a6a6a;font-weight:700;padding-left:40px;position:relative;line-height:30px;}
.res-list > li .tit::before{content:'';display:block;width:30px;height:30px;background-position:50% 50%;background-repeat:no-repeat;position: absolute;left:0;top:0;}
.res-list > li .tit span{font-weight:400;}

.res-list > li.cash-refund .tit::before{background-image:url(../img/icon/dashboard/cash-refund.svg);}
.res-list > li.coupon-refund .tit::before{background-image:url(../img/icon/dashboard/coupon-refund.svg);}
.res-list > li.answer .tit::before{background-image:url(../img/icon/dashboard/answer.svg);}
.res-list > li.member .tit::before{background-image:url(../img/icon/dashboard/member.svg);}
.res-list > li.cash-charge .tit::before{background-image:url(../img/icon/dashboard/cash-charge.svg);}
.res-list > li.sales .tit::before{background-image:url(../img/icon/dashboard/sales.svg);}
.res-list > li.visitor .tit::before{background-image:url(../img/icon/dashboard/visitor.svg);}
.res-list > li.join .tit::before{background-image:url(../img/icon/dashboard/join.svg);}

.res-list > li .result{margin-top:17px;display:flex;justify-content:space-between;align-items:flex-end;gap:0 8.6px;}
.res-list > li .result .info{text-align:right;font-size:14px;line-height:18px;width:49%;}
.res-list > li .result .info em.up{color:#EC1A1A;}
.res-list > li .result .info em.down{color:#1D84EC;}
.res-list > li .result .value{color:#000;text-align:right;width:51%;}
.res-list > li .result .value strong{font-family:'Roboto';font-size:34px;font-weight:700;}
.res-list > li .result .value strong.underli ne{text-decoration:underline;}
.res-list > li .result .value em{font-size:18px;font-weight:700;color:#6a6a6a;}

/* sub */
.s-tit{font-size:16px;font-weight:600;display:block;position: relative;padding-left:9px;margin-bottom:10px;line-height:20px;color:#0e0f0e;}
.s-tit::before{content:'';display:block;width:3px;height:3px;background-color:#0F9563;position:absolute;left:0;top:7px;}
.s-tit span{font-weight:400;font-size:15px;}
.s-tit span em{font-weight:700;}
.s-tit-area{display:flex;justify-content:space-between;align-items:center;}
.s-tit-area .s-tit{margin-bottom:0;}

.cate-box{box-shadow: 1px 4px 0px 0px rgba(219, 219, 219, 0.50);background-color:#fff;border:1px solid #CED1E4;border-radius:2px;}
.cate-box .cate-row{border-top:1px solid #ced1e4;}
.cate-box .cate-row.btns{padding:10px 20px;}
.cate-box .cate-row.input{padding:20px 15px;height:315px;overflow-y:auto;}
.cate-box .cate-row:first-of-type{border-top:0;}
.cate-box .cate-row .ui-state-default{padding:10px;background-color:#fff;width:auto;height:auto;border-radius:0;margin-top:12px;border:1px solid #CED1E4 !important;text-align:left !important;color:#728BBB;font-weight:500;font-size:15px;cursor:pointer;box-shadow: 0px 2px 4px 0px #EFF0F1;}
.cate-box .cate-row .ui-state-default:first-of-type{margin-top:0;}
.cate-box .cate-row .ui-state-default .ui-icon-arrowthick-2-n-s{display:none;}
.cate-box .cate-row .ui-state-default:hover, .cate-box .cate-row .ui-state-default.ui-sortable-helper{border-color:#5553D1 !important;background-color: #EDEDF9 !important;}
.cate-box .cate-row .ui-state-default.zero{background-color:#F2F2F2 !important;border:1px solid #BABABA !important;color:#828382 !important;}
.cate-box .cate-row ul + .input-cate{margin-top:12px;}

/* error */
#container.error{display:flex;justify-content:center;align-items:center;padding-top:0;padding-left:0;min-height:calc(100vh - 80px);}
#container.error .no-data{margin-top:0;}
#container.error .no-data .txt{line-height:24px;}
.no-data{text-align:center;margin-top:90px;}
.no-data::before{content:'';display:block;width:48px;height:48px;background:url(../img/icon/info_nodata.svg) 50% 50% no-repeat;margin:0 auto 15px;}
.no-data .txt{font-size:15px;font-weight:500;line-height:18px;color:#6a6a6a;}
.no-data .txt.bold{font-weight:700;}
.no-data .info{display:block;font-size:14px;line-height:18px;color:#0e0f0e;margin-top:15px;}
.no-data .info strong{font-weight:700;}
.no-data .btn-base{width:auto;}
.no-data .btn-base.tp1.xs > *{padding:8px 35px;}

/* skin */
.skin-wrapper{display:flex;gap:0 20px;}
.skin-frame-wrap{flex-shrink:0;position:relative;background-color:#dadde1;border-radius:10px;padding:4px;width:396px;height:694px;overflow:hidden;}
.skin-frame{width:388px;height:686px;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;position: relative;}
.skin-title, .skin-barcode, .skin-code{position: absolute !important;border:1px solid blue;}
.skin-title, .skin-code1, .skin-code2{display:flex;align-items:center;}
.skin-title .tip, .skin-barcode .tip, .skin-code .tip{position: absolute;right:5px;top:5px;border:1px solid #ddd;font-size:10px;padding:5px;font-weight:700;border-radius:5px;background-color:#fff;}
.skin-form-wrap{flex-grow:1;}
.skin-form-wrap .total-area{margin:15px 0 10px;}

/* error */
.error-wrap{display:flex;justify-content:center;align-items:center;height:100vh;min-width:622px;min-height:548px;}
.error-wrap dd{font-size:24px;line-height:34px;color:#475467;text-align:center;margin-top:50px;font-weight:700;}

/* chart */
.echart-area,
.state-area{padding:20px;border:1px solid #D1D1D1;margin-top:25px;}
.echart-wrap, .state-wrap{display:flex;gap:0 25px;}
.echart-wrap .echart-area,
.state-wrap .state-area{width:50%;}
.echart-wrap .echart-tit,
.state-wrap .state-tit{padding-bottom:6px;font-size:16px;font-weight:600;line-height:20px;color:#0e0f0e;border-bottom:1px solid #D1D1D1;margin-bottom:6px;}
.state-wrap .state-tit span{font-weight:400;}
.state-wrap.tp1 .state-area:nth-child(1){width:450px;flex-shrink:0;}
.state-wrap.tp1 .state-area:nth-child(2){flex-grow:1;}
.state-wrap .tb-input-wrap{padding:24px 49px 0;}
.state-info li{color:#2c3439;text-align:center;padding:20px 0;border-top:1px solid #d1d1d1;}
.state-info li:first-child{border-top:0;}
.state-info li span{display:block;}
.state-info li .label{font-size:18px;font-weight:500;line-height:24px;}
.state-info li .price{font-size:40px;font-weight:800;color:#1f2937;line-height:48px;margin-top:4px;}
.state-info li .tiny{font-size:16px;font-weight:400;line-height:22px;color:#8b8f93;}
.legend-area{display:flex;justify-content:center;margin-top:10px;}
.legend-area ul{display:flex;padding:6px 60px;background-color:#f3f4f6;gap:0 50px;}
.legend-area ul li{display:flex;font-size:12px;font-weight:400;line-height:1;color:#44545b;gap:0 5px;align-items:center;}
.legend-area ul li::before{content:'';display:block;width:10px;height:10px;border-radius:50%;}
.legend-area ul li.tp1::before{background-color:#3163C2;}
.legend-area ul li.tp2::before{background-color:#DA4516;}

/* paper */
.paper-area{border:1px solid #d1d1d1;padding:75px 60px 86px;margin-top:10px;}
.paper-area .logo-tit{display:flex;justify-content:center;align-items:center;gap:0 20px;margin-bottom:70px;}
.paper-area .logo-tit strong{font-size:34px;font-weight:700;color:#000;line-height:48px;}
.paper-area .cbox{border:1px solid #d1d1d1;font-size:15px;font-weight:400;color:#2c3439;line-height:20px;padding:7px 10px;}
.paper-area .cbox.ver-text{padding:0;border:0;}
.paper-area .cbox-list{border-top:1px solid #D1D1D1;border-bottom:1px solid #D1D1D1;padding:20px 0;margin-top:30px;}
.paper-area .cbox-list > li{display:flex;align-items: center;}
.paper-area .cbox-list > li .label{flex-shrink:0;padding:10px 30px;font-size:15px;font-weight:700;line-height:18px;color:#20312a;}
.paper-area .cbox-list > li .cbox-wrap{flex-grow:1;padding:5px 6px;}
.paper-area .tbox{padding:20px;font-size:15px;color:#2c3439;line-height:20px;border:1px solid #d1d1d1;margin-top:30px;}
.paper-area .tbox.ver-text{padding:0;border:0;}
.paper-area .next{font-size:15px;line-height:18px;color:#20312a;text-align:center;margin-top:30px;}
.paper-area .total-area{align-items:center;}
.paper-area .total-area .total{color:#20312a;}
.paper-area .btn-base.tp2 > *{color:#1f2937;border-color:#1F2937;font-size:16px;}

.sign-area{display:flex;justify-content:center;align-items:center;gap:0 6px;margin-top:50px;}
.sign-area .sign-l .company{font-size:15px;font-weight:700;color:#0e0f0e;line-height:22px;}
.sign-area .sign-l .ceo{display:flex;justify-content:space-between;font-size:15px;font-weight:500;color:#0e0f0e;margin-top:3px;line-height:22px;}

.top-info-wrap{padding:30px 0;box-shadow: 0px 4px 2px 0px rgba(209, 213, 223, 0.50);background-color:#f9fafb;border:1px solid #d1d1d1;border-radius:4px;}
.top-info-wrap ul{display:flex;}
.top-info-wrap li{text-align:center;width:20%;border-left:1px solid #d1d1d1;}
.top-info-wrap li:first-child{border-left:0;}
.top-info-wrap li span{display:block;}
.top-info-wrap li .label{font-size:18px;font-weight:500;color:#2c3439;line-height:24px;margin-bottom:4px;}
.top-info-wrap li .result{font-size:24px;font-weight:700;line-height:34px;color:#1f2937;}
.top-info-wrap li .state{display:inline-block;padding:4px 8px;box-shadow: 2px 2px 0px 1px #E7E9EC;background-color:#fff;border:1px solid #4DB857;border-radius:4px;font-size:14px;line-height:16px;font-weight:700;color:#0f9563;}

/* mobile */
